<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

  <display-name>Tomcat Manager Application</display-name>
  <description>
    A scriptable management web application for the Tomcat Web Server;
    Manager lets you view, load/unload/etc particular web applications.
  </description>
   
    <display-name>CSC309 Examples</display-name>
    <description>
      CSC309 Examples.
    </description>

    <!-- Define servlets that are included in the example application -->


  	<servlet>
    	<servlet-name>EC2Initialization</servlet-name>
    	<servlet-class>ece1779.ec2.Initialization</servlet-class>
  		<load-on-startup>3</load-on-startup>
		
		<!-- Replace with AWS key for your account -->
		<init-param>
			<param-name>AWSaccessKey</param-name>
			<param-value>AKIAIWC6RPDLW7CIO6KA</param-value>
		</init-param>
		
		<init-param>
			<param-name>AWSsecretKey</param-name>
			<param-value>rExNAEpEp/95mPoUaUjR1kaIFUmB2RtOGvvLwvMd</param-value>
		</init-param>
		
		<init-param>
			<param-name>s3BucketName</param-name>
			<param-value>ece1779Bouzelouf</param-value>
		</init-param>
		
		<init-param>
			<param-name>dbDriver</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		
		<!-- replace the info bellow with the details for your DB -->
		<init-param>
			<param-name>dbURL</param-name>
			<param-value>jdbc:mysql://ece1779db.cumlmfbht0fr.us-east-1.rds.amazonaws.com/ece1779group14</param-value>
		</init-param>
	
		<init-param>
			<param-name>dbUser</param-name>
			<param-value>group14</param-value>
		</init-param>  
		
		<init-param>
			<param-name>dbPassword</param-name>
			<param-value>8402558225</param-value>
		</init-param>
		
		<!-- ADMIN INFO -->
		<init-param>
			<param-name>adminUserID</param-name>
			<param-value>adminQcom</param-value>
		</init-param>
		
		<init-param>
			<param-name>adminPassword</param-name>
			<param-value>passQcom</param-value>
		</init-param>
		
		<!-- AMI INFO -->
		<init-param>
			<param-name>AdminAmiName</param-name>
			<param-value>ami-bouzeloufA</param-value>
		</init-param>
		
		<init-param>
			<param-name>WorkerAmiName</param-name>
			<param-value>ami-89545be0</param-value>
		</init-param>
  	</servlet>

    <servlet>
    	<servlet-name>JSPInitialization</servlet-name>
    	<servlet-class>ece1779.jsp.Initialization</servlet-class>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>JDBCInitialization</servlet-name>
    	<servlet-class>ece1779.jdbc.Initialization</servlet-class>
  		<load-on-startup>2</load-on-startup>
  	</servlet>


    <servlet>
        <servlet-name>SampleServletName3</servlet-name>
        <servlet-class>ece1779.servlets.HelloWorld</servlet-class>
    </servlet> 

    <servlet>
        <servlet-name>Form</servlet-name>
        <servlet-class>ece1779.servlets.Form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintEnv</servlet-name>
        <servlet-class>ece1779.servlets.PrintEnv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieExample</servlet-name>
        <servlet-class>ece1779.servlets.CookieExample</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>CookieLogout</servlet-name>
        <servlet-class>ece1779.servlets.CookieLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionExample</servlet-name>
        <servlet-class>ece1779.servlets.SessionExample</servlet-class>
    </servlet>
   <servlet>
        <servlet-name>SessionLogout</servlet-name>
        <servlet-class>ece1779.servlets.SessionLogout</servlet-class>
    </servlet>
	<servlet>
    	<servlet-name>ServletContextExample</servlet-name>
    	<servlet-class>ece1779.servlets.ServletContextExample</servlet-class>
  	</servlet>
	<servlet>
    	<servlet-name>TransactionExample</servlet-name>
    	<servlet-class>ece1779.jdbc.Transaction</servlet-class>
  	</servlet>

	<servlet>
    	<servlet-name>UserFileUpload</servlet-name>
    	<servlet-class>ece1779.ec2.UserFileUpload</servlet-class>
  	</servlet>

	<servlet>
    	<servlet-name>UserLogin</servlet-name>
    	<servlet-class>ece1779.ec2.UserLogin</servlet-class>
  	</servlet>
 
  	<servlet>
    	<servlet-name>UserImageAndTransforms</servlet-name>
    	<servlet-class>ece1779.ec2.UserImageAndTransforms</servlet-class>
  	</servlet>
 
 	<servlet>
    	<servlet-name>UserImages</servlet-name>
    	<servlet-class>ece1779.ec2.UserImages</servlet-class>
  	</servlet>
  	
	<servlet>
    	<servlet-name>UserLogout</servlet-name>
    	<servlet-class>ece1779.ec2.UserLogout</servlet-class>
  	</servlet>
  	
  	<servlet>
    	<servlet-name>ManagerLogin</servlet-name>
    	<servlet-class>ece1779.ec2.ManagerLogin</servlet-class>
  	</servlet>

  	<servlet>
    	<servlet-name>ManagerLogout</servlet-name>
    	<servlet-class>ece1779.ec2.ManagerLogout</servlet-class>
  	</servlet>

	<servlet>
    	<servlet-name>InstanceStart</servlet-name>
    	<servlet-class>ece1779.ec2.InstanceStart</servlet-class>
  	</servlet>

	<servlet>
    	<servlet-name>InstanceStop</servlet-name>
    	<servlet-class>ece1779.ec2.InstanceStop</servlet-class>
  	</servlet>


	<servlet>
    	<servlet-name>InstanceMetrics</servlet-name>
    	<servlet-class>ece1779.ec2.InstanceMetrics</servlet-class>
  	</servlet>


	<servlet>
    	<servlet-name>ManagerDeleteAll</servlet-name>
    	<servlet-class>ece1779.ec2.ManagerDeleteAll</servlet-class>
  	</servlet>


    <servlet-mapping>
        <servlet-name>SampleServletName3</servlet-name>
        <url-pattern>/servlet/HelloWorld</url-pattern>
    </servlet-mapping>
    
    

   <servlet-mapping>
        <servlet-name>Form</servlet-name>
        <url-pattern>/servlet/Form</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>PrintEnv</servlet-name>
        <url-pattern>/servlet/PrintEnv</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>CookieExample</servlet-name>
        <url-pattern>/servlet/CookieExample</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>CookieLogout</servlet-name>
        <url-pattern>/servlet/CookieLogout</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SessionExample</servlet-name>
        <url-pattern>/servlet/SessionExample</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>SessionLogout</servlet-name>
        <url-pattern>/servlet/SessionLogout</url-pattern>
    </servlet-mapping>
  
   <servlet-mapping>
        <servlet-name>ServletContextExample</servlet-name>
        <url-pattern>/servlet/ServletContextExample</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TransactionExample</servlet-name>
        <url-pattern>/servlet/Transaction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserFileUpload</servlet-name>
        <url-pattern>/servlet/UserFileUpload</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserFileUpload</servlet-name>
        <url-pattern>/servlet/FileUpload</url-pattern>
    </servlet-mapping>
 
 
     <servlet-mapping>
        <servlet-name>UserImageAndTransforms</servlet-name>
        <url-pattern>/servlet/UserImageAndTransforms</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserImages</servlet-name>
        <url-pattern>/servlet/UserImages</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/servlet/UserLogin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>UserLogout</servlet-name>
        <url-pattern>/servlet/UserLogout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/servlet/ManagerLogin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManagerLogout</servlet-name>
        <url-pattern>/servlet/ManagerLogout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>InstanceStart</servlet-name>
        <url-pattern>/servlet/InstanceStart</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>InstanceStop</servlet-name>
        <url-pattern>/servlet/InstanceStop</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
        <servlet-name>InstanceMetrics</servlet-name>
        <url-pattern>/servlet/InstanceMetrics</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ManagerDeleteAll</servlet-name>
        <url-pattern>/servlet/ManagerDeleteAll</url-pattern>
    </servlet-mapping>

</web-app>
